
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');


:root{
    --primary-color: #12c2b9;
    --secondary: #dbfffe;
    --black: #141414;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}
*::selection{
    background:#00ffff;
    color:#fff;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar{
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
  }
section{
    padding: 5rem 7%;
  }
  
  .heading{
    position: relative;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .heading::after{
    display: block;
    width: 10rem;
    margin-inline: auto;
    margin-top: -1rem;
  }
  
  .btn{
    position: relative;
    display: inline-block;
    margin-top: 18rem;
    margin-left: 18rem;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: max-content;
    border: .1rem solid var(--primary-color);
    background: var(--secondary);
    padding: 1.2rem 4.5rem;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    bottom: 100%; left: 50%;
    transform: translateX(-50%);
    width: 200%; height: 200%;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: 500ms ease;
    z-index: -1;
  }
  
  .btn .text{
    transition: 250ms ease;
  }
  
  .btn .text-2{
    position: absolute;
    top: 100%; left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: var(--secondary);
  }
  
  .btn:is(:hover, :focus-visible)::before{
    bottom: -50%;
  }
  
  .btn:is(:hover, :focus-visible) .text-1{
    transform: translateY(-4rem);
  }
  
  .btn:is(:hover, :focus-visible) .text-2{
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .shine{
    position: relative;
  }
  
  .shine::after{
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
  }
  
  .shine:is(:hover, :focus-within)::after{
    transform: skewX(-0.08turn) translateX(275%);
    transition: 1000ms ease;
  }  

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: rgb(1, 1, 22);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%h;
}

header .logo img{
    height: 4rem;
    margin-left: 0px;
    border-radius: 50%;
    text-decoration: none;
}

header .logo span{
    height: 1rem;
    width: 1rem;
    font-weight: lighter;
    font-size: 3rem;
    color: #f0f6f0;
    margin-top: 2rem;
}
header .navbar a{
    color:#fff;
    font-size: 1.9rem;
    padding: 0 10px 0 10px;
    margin: 0.8rem;
    text-decoration: none;
    
}
#tuman{
    text-decoration: none;
}
header .navbar a:hover{
    color: #00ffff;
}
header .icon i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icon i:hover{
    color:#00ffff;
}
.login-form-container{
    position: fixed;
    top: -120%; left:0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    margin: 2rem;
    padding: 1.5rem  2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem
}
.login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 2rem 0;
    border: 0.1rem solid rgba(0, 0,0,.3);
    text-transform: none;
}
.login-form-container form .box:focus{
    background-color:#fff;;
}
.login-form-container form #remember{
    margin: 2rem 0;
}
.login-form-container form label{
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display: block;
    width: 80%;

}
.login-form-container form p{
    padding: 2rem 0;
    font-size: 1.5rem;
    color: #666;
}
.button{
    display: inline-block;
    margin-top: 1rem;
    background-color: #00ffff;
    color: #fff;
    padding: 1.5rem 2.5rem;
    border:.2rem solid red;
    border-radius: 40px;
    cursor: pointer;
    font-size: 2rem;
}
.button:hover{
    background: rgba(255, 165, 0, .2);
    color: white;
}

.btn-div {

    display: flex;
    justify-content: center;
}
.login-form-container form p a{
    color: aqua;
}
.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;

}
.back{
    height: 10px;
}
#menu-bar{
    color:#fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}
a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    font-size: 1.5rem;
    color: #e7e3e3;
}
a.logo h1 span{
    font-size: 3.2rem;
    color: #00ffff;
    font: bold;
}
header{
    height: 103px;
}
/* home */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/h2.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.home .content{
     max-width: 100rem;
     margin-bottom: 20rem; 
     margin-left: 70rem;
  }
  
.home .content h3{
    font-size: 4rem;
    color: var(--white);
    line-height: 1.2;
  }
  
.home .content p{
    font-size: 2.5rem;
    line-height: 2;
    color: var(--white);
    padding: 1rem 0;
  }
  .home .content a{
    left:10px;
    top:200px
  } 
  /* ends */
  /* about */

.about .container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .about .container .about-image{
    position: relative;
    flex: 1 1 40rem;
  }
  
  .about .container .about-image img{
    width: 80%;
  }
  
  .about .container .about-image .about-img{
    position: absolute;
    bottom: -10rem;
    right: -1rem;
    width: 25rem;
    padding-block: 5rem;
  }
  
  .about .container .about-content{
    flex: 1 1 50rem;
    padding-left: 6rem;
    padding-top: 8rem;
  }
  
  .about .container .about-content h3{
    font-size: 3rem;
    color: var(--primary-color);
  }
  
  .about .container .about-content p{
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
  }
  
  /* ends */
  
  /* subjects */
  
  .subjects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .subjects .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid var(--primary-color);
    background: var(--secondary);
    cursor: pointer;
  }
  
  .subjects .box-container .box:hover{
    background: var(--primary-color);
  }
  
  .subjects .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
  }
  
  .subjects .box-container .box h3{
    font-size: 1.7rem;
    color: #444;
    padding: .5rem 0;
    text-transform: capitalize;
  }
  
  .subjects .box-container .box:hover h3{
    color: #fff;
  }
  
  .subjects .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  .subjects .box-container .box:hover p{
    color: #eee;
  }
  /* courses */

.courses .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .courses .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    position: relative;
  }
  
  .courses .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .courses .box-container .box:hover .image img{
    transform: scale(1.1);
  }
  
  .courses .box-container .box .image h3{
    font-size: 1.5rem;
    color: #444;
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--white);
  }
  
  .courses .box-container .box .content{
    padding: 2rem;
    position: relative;
    border: 0.1rem solid var(--primary-color);
  }
  
  .courses .box-container .box .content p{
    font-size: 1.4rem;
    color: #444;
    line-height: 2;
  }
  
  .courses .box-container .box .content h3{
    font-size: 2rem;
    color: #444;
  }
  
  .courses .box-container .box .content .stars{
    padding: 1rem 0;
  }
  
  .courses .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--primary-color);
  }
  
  .courses .box-container .box .content .stars span{
    font-size: 1.4rem;
    color: #777;
    margin-left: .5rem;
  }
  
  .courses .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--primary-color);
  }
  
  .courses .box-container .box .content .icons span{
    font-size: 1.5rem;
    color: #444;
  }
  
  .courses .box-container .box .content .icons span i{
    color: var(--primary-color);
    padding-right: .5rem;
  }
  
  /* ends */
  /* .review .slide{
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    position: relative;
  }
  
  .review .slide p{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: .5rem;
    line-height: 1.8;
    color: #444;
  }
  
  .review .slide .wrapper{
    display: flex;
    justify-content: center;
    gap: .3rem;
  }
  
  .review .slide .wrapper .separator{
    width: .8rem;
    height: .8rem;
    border: .1rem solid var(--primary-color);
    transform: rotate(45deg);
    animation: rotate360 15s linear infinite;
  }
  
  @keyframes rotate360{
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(1turn);
    }
  }
  
  .review .slide .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: var(--secondary);
  }
  
  .review .slide .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
  }
  
  .review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
    border: .1rem solid var(--primary-color);
    padding: .5rem;
  }
  
  .review .slide .user h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
  }
  
  .review .slide .user .stars i{
    font-size: 1.3rem;
    color: var(--primary-color);
  } */
  
  /* ends */
  
  /* Cybersecurity */
  
  .Cybersecurity .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  
  .Cybersecurity .box-container .box{
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
  }
  
  .Cybersecurity .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem 2rem 0 0;
  }
  
  .Cybersecurity .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .Cybersecurity .box-container .box:hover .image img{
    transform: scale(1.1);
  }
  
  .Cybersecurity .box-container .box .image h3{
    font-size: 1.5rem;
    color: #444;
    position: absolute;
    top: 1.5rem; left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--white);
    border-radius: 2rem 0 2rem 0;
  }
  
  .Cybersecurity .box-container .box .content{
    padding: 2rem 2rem;
    background: var(--secondary);
    border-radius: 0 0 2rem 2rem;
  }
  
  .Cybersecurity .box-container .box .content .icons{
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .Cybersecurity .box-container .box .content .icons a{
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  
  .Cybersecurity .box-container .box .content .icons a i{
    padding-right: .5rem;
  }
  
  .Cybersecurity .box-container .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
  }
  
  .Cybersecurity .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
  }
  
  /* ends */
  
  /* contact */
  
  .contact .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  
  .contact .row .image{
    flex: 1 1 35rem;
}
.contact .row .image img{
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
}
  
  .contact .row form{
    flex: 1 1 40rem;
    border: 0.1rem solid var(--primary-color);
    padding: 2rem;
  }
  
  .contact .row form h3{
    font-size: 2.5rem;
    color: #444;
    padding-bottom: 1rem;
  }
  
  .contact .row form .box{
    width: 100%;
    font-size: 1.6rem;
    padding: 1.2rem 1.4rem;
    border: .1rem solid var(--primary-color);
    margin: .7rem 0;
  }
  
  .contact .row form .box:focus{
    color: var(--primary-color);
  }
  
  .contact .row form textarea{
    height: 15rem;
    resize: none;
  }
  
/* Media queries optimized for iPhone 14 Pro Max */
@media only screen and (max-width: 428px) {
  /* Adjust font sizes */
  html {
      font-size: 55%; /* Adjust base font size */
  }
  header {
      padding: 2rem;
  }
  header .navbar {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background: #333;
      border-top: .1rem solid rgba(255, 255, 255, .2);
      padding: 1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
      display: block;
      border-radius: .5rem;
      padding: 1.4rem;
      margin: 1.5rem 0;
      background: #222;
  }

  /* Adjust contact form */
  .contact .row form .inputBox input {
      width: 100%;
  }

  /* Adjust home content */
  .home .content {
      margin-left: 2rem;
      margin-bottom: 15rem;
  }

  /* Adjust image size in contact */
  .contact .row .image img {
      width: 25rem;
      height: 25rem;
  }

  /* Adjust footer */
  .footer .box-container {
      justify-content: center;
      gap: 5rem;
  }
  .footer .box-container .box {
      flex: 1 1 20rem;
  }
  .footer .box-container .follow a {
      font-size: 1.7rem;
  }
}

@media only screen and (max-width: 360px) {
  /* Further adjustments for smaller screens */
  html {
      font-size: 50%;
  }
  .home .content {
      margin-left: 1rem;
      margin-bottom: 10rem;
  }
  .contact .row .image img {
      width: 20rem;
      height: 20rem;
  }
  .footer .box-container .follow a {
      font-size: 1.5rem;
  }
}


  /* ends */

































